<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/user/reg" method="post">
    <label>Username </label><label><input type="text" placeholder="Username" name="username"></label><br/>
    <p th:text="${errors!=null?(#maps.containsKey(errors, 'user')?errors.user:''):''}" style="color: red;"></p><br/>
    <label>Password </label><label><input type="password" placeholder="Password" name="pwd"></label><br/>
    <p th:text="${errors!=null?(#maps.containsKey(errors, 'pwd')?errors.pwd:''):''}" style="color: red;"></p><br/>
    <label>Confirm Password </label><label><input type="password" placeholder="Confirm Password" name="confirmPwd"></label><br/>
    <p th:text="${errors!=null?(#maps.containsKey(errors, 'confirmPwd')?errors.confirmPwd:''):''}" style="color: red;"></p><br/>
    <button type="submit">Register</button>
    <a href="login.html">Return to login</a>
</form>
</body>
</html>